.bm-burger-button {
    width: 36px;
    height: 30px;
    left: 36px;

    top: 86px;
}

/* .bm-burger-bars {
    background: #0c0513;
} */

.bm-burger-bars-hover {
    background: #a90000;
    top: 86px;
}

.bm-cross-button {
    height: 24px;
    width: 24px;
    top: 86px;
}

.bm-cross {
    background: #bdc3c7;
    top: 86px;
}

.bm-menu-wrap {
    position:relative;
    height: 100%;
    top: 86px;
}

.bm-menu {
    background: #0c0513;
    padding: 0.3rem 0.3rem 0;
    width: 200px;
    position: relative;
    @apply bg-opacity-5;
}

/* .bm-morph-shape {
    fill: #373a47;
} */

.bm-item-list {
    color: #ffffff;
    padding: 0.8em;
    top: 86px;
}

.bm-item {
    display: inline-block;
    top: 86px;
}

.bm-overlay {
    display: none;
    top: 86px;
}

/* styling next link component so that will be a column list of links*/
.bm-item-list a {
    display: flex;
    flex-direction: column;
    top: 86px;
    @apply mt-6;
}